{% extends 'store/main.html' %}
{% load static %}

{% block content %}



<div class="category">
  <div class="page-title">
    <p>{{category}}</p> 
  </div>
  <div class="subcategories-menu">
    {% for subcategory in subcategories %}
      <div class="subcategory-menu-elem ">
        <a href="{% url 'subcategory' subcategory.pk %}">{{subcategory.name}}</a>
      </div>
    {% endfor %}
  </div>
  
  <div class="subcategory_products">

    {% include 'store/filters.html' %}
    <div class="d-flex m-0">
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      {% for product in products %}
        <div class="col">
          <div class="card mb-3" >
            <a href="{% url 'product' product.pk %}">
            <img src="{{ product.imageURL }}" class="card-img-top img-fluid" alt="{{product.title}}">
            
            <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-text">
                  {% for i in product.size %}
                    {{i}}
                  {% endfor %}
                  </p>
                  <p class="card-text">
                    {{product.price}}$
                  </p>
                  
                  
            </div>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="pages">
    {% include 'store/paginator.html' %}
  </div>

</div>



{% endblock content %}

