{% extends 'store/adminPanel/layout.html' %}
{% load static %}

{% block content %}

<div class="page-title">
  <p>Add product</p>
</div>

<form method="POST" enctype="multipart/form-data" id="create-product">
  {%csrf_token%}
  <div>
    <p>{{form.subcategory.label}}:</p>
    <p>{{form.subcategory}}</p>
  </div>
  <div>
    <p>{{form.title.label}}:</p>
    <p>{{form.title}}</p>
  </div>
  <div>
    <p>{{form.gender.label}}:</p>
    <p>{{form.gender}}</p>
  </div>
  <div>
    <p>{{form.size.label}}:</p>
    <p>{{form.size}}</p>
  </div>
  <div>
    <p>{{form.image.label}}:</p>
    <p>{{form.image}}</p>
  </div>
  <div>
    <p>{{form.price.label}}:</p>
    <p>{{form.price}}</p>
  </div>
  <div>
    <p>{{form.color.label}}:</p>
    <p>{{form.color}}</p>
  </div>
  <div>
    <p>{{form.description.label}}:</p>
    <p>{{form.description}}</p>
  </div>
  <div>
    <p>{{form.madeOf.label}}:</p>
    <p>{{form.madeOf}}</p>
  </div>
  <div>
    <p>{{form.season.label}}:</p>
    <p>{{form.season}}</p>
  </div>
  <div>
    <p>{{form.country.label}}:</p>
    <p>{{form.country}}</p>
  </div>
  <div>
    <p>{{form.availability.label}}:</p>
    <p>{{form.availability}}</p>
  </div>

  <p><button class="manage-order-btn" type="Submit">Создать товар</button></p>
</form>

<script>
</script>

{% endblock %}