{% extends 'store/adminPanel/layout.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Пользователи</h1>
  

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th></th>
                        <th></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th></th>
                        <th></th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {% for customer in customers %}

                      <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone}}</td>
                        
                        <td><a href="{% url 'customer_orders' customer.id %}">Customer's orders</a></td>
                        <td><a href="customer">Delete customer</a></td>
                        
                      </tr>

                    {% endfor %}
                      
                  </tbody>
              </table>
          </div>
          <div class="pages">
            {% include 'store/paginator.html' %}
          </div>
      </div>
      
  </div>

</div>

{% endblock %}