{% extends 'store/adminPanel/layout.html' %}
{% load static %}

{% block content %}





  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Non-finished</h1>
    
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Order date</th>
                            <th>Address</th>
                            <th>Order id</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Phone</th>
                          <th>Order date</th>
                          <th>Address</th>
                          <th>Order id</th>
                          <th></th>
                          <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                      {% for order in unfinished_orders %}

                        <tr>
                          <td>{{order.customer}}</td>
                          <td>{{order.customer.phone}}</td>
                          <td>{{order.ordered_date}}</td>
                          {% for address in order.get_address %}
                            <td>{{address}}</td>
                          {% endfor %}
                          
                          <td><a href="{% url 'show_order' order %}">{{order.transaction_id}}</a></td>
                          <td><a class="manage-order-btn" id="finish-order" href="{% url 'finish_order' order %}">Mark as finished order</a></td>
                          <td><a class="manage-order-btn" id="delete-order" style="margin-left: 10px; " href="{% url 'delete_order' order %}">Delete order</a></td>
                          
                        </tr>

                      {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="pages">
              {% include 'store/paginator.html' %}
            </div>
        </div>
        
    </div>
  
  </div>
{% endblock %}