{% extends 'store/main.html' %}
{% load static %}
<style>
  .image{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
</style>
{% block content %}
  </div>
  <div class="new-arrival">
    <p>Новое поступление</p>
  </div>


<div class="container">
  <div class="products">
    {% for product in products %}
    <div class="product">
      <a href="{% url 'product' product.pk %}">
        <div class="image-conteiner">
          <img class="product-image" src="{{ product.imageURL }}" alt="{{product.title}}">
        </div>
        <div class="title">
          {{product.title}}
        </div>
        <div class="sizes">
          {% for i in product.size %}
            {{i}}
          {% endfor %}
        </div>
          
        
        <div class="price">
          {{product.price}} ₸
        </div>
      </a>
      
    </div>
    {% endfor %}
  </div>
  
{% endblock content %}